<div class="archive_block" >

    <div class="archive_in">
        #if (!$entries.isEmpty())

        ##iterate assetentry from list
        #foreach ($curEntry in $entries)
        #set($renderer = $curEntry.getAssetRenderer() )
        #set($className = $renderer.getClassName() )
        #set($date = $dateTool.format("dd/MM/yyyy", $dateTool.toDate( "EEE, dd MMM yyyy" , $curEntry.getPublishDate())))
        ##for filter of journal article only
        #if( $className == "com.liferay.portlet.journal.model.JournalArticle" )

        ##Create URL for link
        #set($viewURL = $assetPublisherHelper.getAssetViewURL($renderRequest, $renderResponse, $curEntry))
        #set( $Article = $renderer.getArticle() )

        #set( $document = $saxReaderUtil.read($Article.getContent()) )

        #set( $rootElement = $document.getRootElement() )
        #foreach( $dynamicElement in $rootElement.elements() )
        #if( "Image2791" == $dynamicElement.attributeValue("name") )
        #set( $image = $dynamicElement.element("dynamic-content").getText() )

        #end
        #if( "ImageSmall2792" == $dynamicElement.attributeValue("name") )
        #set( $imageSmall = $dynamicElement.element("dynamic-content").getText() )

        #end

        #end

        #set( $viewURL2 = $renderer.getURLViewInContext($renderRequest, $renderResponse, $viewURL))

        <div class="col-sm-3 archive_item">

            <a class="archive_content" href="$viewURL2">
                <img src="$imageSmall" class="archive_image" />
                <span class="archive_date">$date</span>
                <span class="archive_anons">
                    $curEntry.getTitle($locale)<span class="archive_arrow" href="$viewURL2"></span>
                </span>
            </a>
        </div>

        #end
        #end
        #end
    </div>
</div>